<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kabus/13-May-2022 / Manual Transmissions</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="blog-post.css">
    <script src="https://kit.fontawesome.com/f540c9d3c0.js" crossorigin="anonymous"></script>
</head>

<body>
    <nav class="navbar bg-primary header position-fixed top-0" style="width:100%;">
        <div class="container-fluid">
            <a class="navbar-brand" href="index.html"><strong>KABUS</strong></a>
        </div>
    </nav>
    <main>
        <article>
            <h2>
                WHAT HAPPENED TO THE MANUAL TRANSMISSION?
            </h2>
            <div>
                <p>
                    A manual transmission (MT), also known as a manual gearbox, standard transmission (in Canada, the United Kingdom, and the United States), or stick shift (in the United States), is a multi-speed motor vehicle transmission system in which the driver selects the gears manually using a gear stick and clutch (which is usually a foot pedal for cars or a hand lever for motorcycles).
                    There was a time when a manual transmission was standard on most cars. Whether it was for improved fuel economy, or performance, many drivers preferred to row their own gears. Nowadays to get a new vehicle with standard transmission is a daunting task, the amount of new vehicles manufactured with standard transmission are decreasing yearly. So, what went wrong? and where did they all go>? Let's take a look at why manual transmissions have almost disappeared from today's cars:
                    <br><br>
    
                    •	Convenience
                    <br><br>
                    
                    •	Performance
                    <br><br>
                    
                    •	Demand is low.
                    <br><br>
    
                    <b> CONVENIENCE </b><br>
                        There's no arguing that driving with an automatic transmission is more convenient than driving with a manual. Automatic transmissions tosses out the window the daunting tasks of engaging your gear stick as well as your clutch at the right time to get your vehicle moving, it’s all now an easy process; Start up the car, putting it into drive, and you’re on your way. On the other hand a manual can get tiresome in heavy traffic, its learning curve is high, and it requires precise control on hills to avoid stalling or rolling back.
                        <br><br>
                    <b>PERFORMANCE</b> <br>
                        Modern automatic transmissions outperform manual transmissions in terms of performance. Automatics shift gears faster than humans because they use the most advanced computers. Automatic transmissions are capable of propelling the vehicle faster than manual gearboxes. This perhaps makes the market for cars with automatic transmissions boom while that of manual transmission gradually die out.
                        <br><br>
    
                    <b>LOW DEMAND</b> <br>
                        There’s a demand for manual transmission lately thus leading to low production of vehicles with manual transmissions. I believe that the reasons are because of how engaging it is to drive one and most people feel its extra work especially when they’re on a time crunch. Also we see a new age of drivers who are mostly in their early 20’s to late 30’s, most of which have no experience manual transmission, and didn’t learn driving with one. Most of which just want a vehicles to transport them from point A to point B without stress. This is what gave Manual transmission its infamous name; Millennium Anti-Theft System.
                        <br><br>
                    <p>
                        The manual transmission has unquestionably been replaced by the automatic transmission. So, why do a few people still look for cars with three pedals? 
                        Some drivers believe that you can't truly drive a car until you're in a stick shift. Some drivers prefer a manual transmission because it gives them more control over the car, however this is a small percentage of the population.
                        <br><br>
    
                        Do you think manual Transmissions should be discontinuted?
                    </p>
                </p>
            </div>
        </article>
        <ul class="images">
            <li><img src="Img/Manual_Layout4d.svg.png" alt="Manual Transmission"></li>
            <li><img src="Img/manual pedals.jfif" alt="Manual pedal"></li>
        </ul>
    </main>
    <section>
        <div class="subscribe">
            <div class="sub-header">
                <h2>Subscribe</h3>
                    <p>Subscribe Now To Get Daily Updates</p>
            </div>
            <div class="sub-form">
                <form action="#">
                    <!-- <label for="validationUsermail" class="form-label">Email Address</label> -->
                    <div class="input-group has-validation">
                        <input type="email" class="form-control is-invalid sub-mail" id="validationUsermail"
                            name="email" id="email"
                            aria-describedby="inputGroupPrepend3 validationServerUsernameFeedback"
                            placeholder="Email Address" required>
                    </div>
                    <button type="submit" class="btn btn-default">SUBSCRIBE</button>
                </form>
            </div>
        </div>
    </section>

    <footer class="bg-primary">
        <strong>
            <p class="copyright">copyright 2022 Kabus.com</p>
        </strong>
    </footer>
    <script src="	https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>