<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>8 june 2022 / Evolution of Honda Accord</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="blog-post.css">
    <script src="https://kit.fontawesome.com/f540c9d3c0.js" crossorigin="anonymous"></script>
</head>

<body>
    <nav class="navbar bg-primary header position-fixed top-0" style="width:100%;">
        <div class="container-fluid">
            <a class="navbar-brand" href="index.html"><strong>KABUS</strong></a>
        </div>
    </nav>
    <main>
        <article>
            <h2>
                EVOLUTION OF THE ACCORD
            </h2>
            <div>
                <div class="images">
                    <img src="Img/Honda-all-model.jpg.jpg" alt="honda-accord-all-models">
                </div>
                <p>
                    The Honda Accord is a line of automobiles made by Honda since 1976, best known for its four-door sedan model, which has been one of the top-selling cars ever made. It is also known as the "Honda Inspire" in Japan and China for specific generations. The Honda Accord nameplate has been used on a wide range of vehicles around the world, including coupes, station wagons, hatchbacks, and a crossover called the Honda Crosstour.
                    Honda has produced various different car body styles and models of the Accord since its inception, and vehicles sold under the Accord label in different locations can differ quite significantly.
                </p>
                <h3>FIRST GENERATION (1976-1981)</h3>
                <h4>Honda Accord Debuts</h4>
                <p> All of this began in 1976.</p>
                <p>
                    The first Accord was a hatchback that shocked the car industry with its features, refinement and high sales. This was followed by a sedan model in 1979
                    The Accord debuted with a power-train of 1.6-liter engine produced 68 horsepower and was transferred to the wheels via a five-speed manual transmission. The sedan was fitted with a more powerful 1.8-liter engine and power steering.
                </p>
                <div class="images">
                    <img src="img/20220608_185804.jpg" alt="First-gen.">
                </div>

                <h3>SECOND GENERATION(1982-1985)</h3>
                <h4>A Vigorous Redesign</h4>
                
                <p> 
                    In 1982, Honda produced the Accored at an all-new plant in Ohio, making it the first japanese Automaker to build cars in America using domestic and globally-sourced parts.
                    The second-generation Accord was larger than its predecessor and featured boxy styling that gave it a distinct character. In 1983, it received a four-speed automatic transmission as an option, and the engine's displacement was increased from 1751cc to 1830cc, resulting in an increase of 86 horsepower. The Accord SEi, with its fuel-injected engine producing 101 horsepower, arrived in 1985.
                </p>
                <div class="images">
                    <img src="Img/20220608_190803.jpg" alt="Second-gen.">
                </div>
            
                <h3>THIRD GENERATION(1985-1989)</h3>
                <p>
                    For its third generation, the Accord gained a larger footprint, as well as a third body option in the form of a stylish coupe. It outperformed its predecessor mechanically, with Honda's first double-wishbone suspension on both axles and a more aerodynamically friendly design. Honda upped the engine's size even more, to a 2.0-liter unit that produces 98 horsepower when carbureted and 110 horsepower with fuel injection. This generation also featured  headlamps that sprang out.
                </p> 
                <h4>From America with Love</h4> 
                <p>
                    <b>The 1988 Accord Coupe was built exclusively at the Ohio plant making it one of the first domestically-assembled japanese nameplate vehicles exported to japan.</b>
                </p> 
                <div class="images">
                    <img src="Img/20220608_191501.jpg" alt="Third-gen.">
                </div>

                <h3>FOURTH GENERATION(1989-1993)</h3>
                <p>
                    The fourth-generation Accord was enlarged yet again, at the risk of sounding like a broken record, to fully qualify for midsize sedan designation. The inclusion of a wagon, which replaced the hatchback, increased the car's practicality. The flagship EX model, came with a newly built 2.2-liter engine with rated 130 horsepower. The four-speed automatic transmission had a sport mode that allowed the driver to manually select gears. It did, however, lose the  pop-out headlights.
                </p>
                <h4>Best Seller in America</h4>
                <p>
                    <b>The ’89 year Accord became the first vehicle from a non-US-Based Automaker to earn the title of America”s best-selling Automobile.</b>
                </p>
                <div class="images">
                    <img src="Img/20220608_192338.jpg" alt="fourth-gen.">
                </div>

                <h3>FIFTH GENERATION(19963-1997)</h3>
                <p>
                    The fifth-generation Accord received VTEC for the 2.2-liter engine, as well as the sedan's first V6, a 2.7-liter unit with 170 horsepower and 165 lb-ft of torque. To separate themselves from the four cylinder engine models, the versions with the larger engine featured some design alterations at the front. Honda offered a sportier design with a longer wheelbase for more rear legroom.
                </p>
                <h4>Five Generations. More Features.</h4>
                <p>
                    <b>The fifth-generation Accord included world-class safety features, low emissions and improved environmental considerations. The Accord also got it’s first V6.</b>
                </p>
                <div class="images">
                    <img src="Img/20220608_192900.jpg" alt="fifth-gen.">
                </div>
                 
                <h3>Sixth Generation (1998-2002)</h3>
                <p>
                    With the sixth-generation model, the wagon has been phased out, leaving only the coupe and sedan. The two-door version was developed in North America and had a shorter wheelbase than the four-door version. Front airbags were included as standard, with side airbags available for an extra fee. A 2.3-liter engine with 135 horsepower was standard, with a 3.0-liter V6 engine with 200 horsepower available as an option.
                </p>
                <h4>Setting New Standards</h4>
                <p>
                    <b>In ’98, the Accord became the first automobile to meet California’s Ultra-low Emission Vehicle standards, ushering in a new class of efficient, midsize cars.</b> 
                </p>
                <div class="images">
                    <img src="Img/20220608_195124.jpg" alt="sixth-gen.">
                </div>

                <h3>Seventh Generation (2002-2008)</h3>
                <p>
                    The Honda Accord received more powerful engines across the board for its seventh generation. The standard four-cylinder engine now produced 160 horsepower, while the 3.0-liter VTEC V6 produced 240 horsepower. Later in the life cycle, an electrified V6 with a combined output of 253 hp was added to each, giving them a little more power. For the first time, the coupe permitted consumers to purchase the V6 engine with a manual transmission.
                </p>
                <h4>The First Accord Hybrid<h4>
                <p>
                    The Accord Hybrid emphasized performance with the Honda IMA (Integrated Motor Assist). Receiving better mileage ratings than its 4-cylinder counterpart.
                </p>
                <div class="images">
                    <img src="Img/20220608_195614.jpg" alt="seventh-gen.">
                </div>

                <h3>Eighth Generation (2008-2012)</h3>
                <p>
                    Honda increased the size of the Accord for the eighth generation to create more visual difference between the sedan and coupe. The V6 engine, which now produces 268 horsepower, was once again available with a three-pedal arrangement. The EPA reclassified it as a fullsize car, and for the 2010 model year, it generated a hunchbacked Crosstour fastback for extra practicality. The unusually shaped model was two inches wider than the sedan and weighed around 300 pounds (136 kg).
                </p>
                <h4>Safety Features with Style</h4>
                <p>
                   <b>The ’08 year saw two important safety advances: Advances Compatibility Engineering&trade; ACE&trade; body structure and Vehicle Stability Assist&trade; (VSA&trade;).</b> 
                </p>
                <div class="images">
                    <img src="Img/20220608_200728.jpg" alt="Eighth-gen.">
                </div>

                <h3>Ninth Generation (2013-2017)</h3>
                <p>
                    This generation of Accord known as the Mk9 was more of a complete revamp of its predecessor than a full-fledged next-generation vehicle. The sedan now has a Sport version with a six-speed manual transmission and somewhat more power than the original four-cylinder vehicles, as well as twin exhaust tips and unique wheels. Honda went back and forth with the hybrid version, which, thanks to its electrified four-cylinder engine, managed to achieve an EPA rating of 50 mpg.
                </p>
                <h4>10 Million and Two-Motor System</h4>
                <p>
                    <b>On March 20, of 2014, the 10-millionth Honda Accord was built. Honda also released a two-motor hybrid powertrain that achieved 195 peak, concurrent horsepower and received a 50mpg EPA city rating.</b> 
                </p>
                <h4>40 Years of Accord</h4>
                <p>
                    <b>The year 2016 marked $0 years the Honda Accord debutted. When the first Accord hit American shores, it defined a new kind of car. Since then, it’s won more than 36 Car and Driver’s 10 Best and sells at a rate of about one every hour.</b> 
                </p>
                <ul class="images text-center row">
                    <li class="col">
                        <a href="Img/20220608_201502.jpg">
                            <img src="Img/20220608_201502.jpg" alt="Ninth-gen.A">
                        </a>
                    </li>
                    <li class="col">
                        <a href="Img/20220608_201517.jpg">
                            <img src="Img/20220608_201517.jpg" alt="40 Years of Accord">
                        </a>
                    </li>
                </ul>
                 
                <h3>Tenth Generation (2017-Present)</h3>
                <p>
                    The coupe, along with the V6, has gone out of existence with the current-generation Accord. The base 1.5-liter turbo inline-4 gas engine produces 192 horsepower, while the larger 2.0-liter turbo inline-4 gas engine produces 252 horsepower, with a hybrid variant producing 212 horsepower. In the combined cycle, the electrified model achieves 50 mpg. It comes with Continuously Variable Automatic (CVT) transmission, a standard 6-Speed Manual or a 10-speed automatic. All trims comes with front-wheel drive drivetrain. Despite being larger than the type it replaces, the tenth-generation model has lost 110 to 176 pounds (50 to 80 kilograms) in weight thanks to increased usage of aluminum and ultra-high-strength steel.
                    The legendary Accord gets redesigned inside and out, featuring sophisticated materials, next-level intelligence and Hybrid model updates-once again shaking up the perception of midsize sedans.
                </p>
                <div class="images">
                    <img src="Img/20220608_202354.jpg" alt="Tenth-gen.">
                </div>
                <h3>10th GENERATION Facelift (2021 - Now)</h3>
                <div class="images">
                    <img src="Img/HONDA-10th-Gen-Facelift.jpg" alt="Tenth-gen.Facelift">
                </div>
            </div>
        </article>
    </main>
    <section>
        <div class="subscribe">
            <div class="sub-header">
                <h2>Subscribe</h3>
                    <p>Subscribe Now To Get Daily Updates</p>
            </div>
            <div class="sub-form">
                <form action="#">
                    <!-- <label for="validationUsermail" class="form-label">Email Address</label> -->
                    <div class="input-group has-validation">
                        <input type="email" class="form-control is-invalid sub-mail" id="validationUsermail"
                            name="email" id="email"
                            aria-describedby="inputGroupPrepend3 validationServerUsernameFeedback"
                            placeholder="Email Address" required>
                    </div>
                    <button type="submit" class="btn btn-default">SUBSCRIBE</button>
                </form>
            </div>
        </div>
    </section>

    <footer class="bg-primary">
        <strong>
            <p class="copyright">copyright 2022 Kabus.com</p>
        </strong>
    </footer>
    <script src="	https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>