<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The History and Evolution Of Kia Rio</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="blog-post.css">
    <script src="https://kit.fontawesome.com/f540c9d3c0.js" crossorigin="anonymous"></script>
</head>

<body>
    <nav class="navbar bg-primary header position-fixed top-0" style="width:100%;">
        <div class="container-fluid">
            <a class="navbar-brand" href="index.html"><strong>KABUS</strong></a>
        </div>
    </nav>
    <main>
        <article>
            <h2>
                THE HISTORY AND EVOLUTION OF KIA RIO
            </h2>
            <div>
                <div class="images">
                    <img src="Img/evolution of kia rio.jpg" alt="1999/2019 kia-rio">
                </div>
                <p>
                    The Kia Rio is a subcompact car manufactured by Kia motors since November 1999. Since its debut in August 2000, the Kia Rio has gone through four generations. The Rio replaced the first-generation Pride, a rebadged Ford Festiva, and the Avella, a subcompact that was marketed as a Ford in some markets which discontinued production in 2000.
                    <br>
                    Since the Rio's launch, kia has produced a variety of Rio models and body styles, including a three-door hatchback, a five-door hatchback, and a four-door sedan with front-wheel drive and inline-four gasoline and diesel engines. 
                </p>

                <h3>FIRST GENERATION (1999-2005)</h3>
                <p>
                    The four-door sedan and five-door station wagon were the two body types available for the first generation Kia Rio (referred internally as the "DC") when it entered manufacturing in 1999. The Kia Rio was the most affordable mass-produced vehicle being offered in the US at the time it was introduced to the market.
                    <br>
                    It was initially powered by a 1.5-liter DOHC inline-4 gasoline engine with 96 horsepower, which was later upgraded to a 1.6-liter 4-cylinder engine with 104 horsepower.
                </p>
                <ul class="images">
                    <li><a href="img/2001_Kia_Rio_(DC)_hatchback(pre-facelift).jpg">
                        <img src="img/2001_Kia_Rio_(DC)_hatchback(pre-facelift).jpg" alt="First-gen.">
                    </a></li>
                    <li><a href="img/Kia_Rio_Sedan_1999_(pre-facelift).jpg">
                        <img src="img/Kia_Rio_Sedan_1999_(pre-facelift).jpg" alt="First-gen.">
                    </a></li>
                </ul>
                <h3>Facelift</h3>
                <p>
                    The Rio underwent a minor facelift in 2002 (for the US model year 2003) that included upgrades to the engine, suspension, and brakes as well as fresh exterior and interior appearance.
                </p>
                <ul class="images">
                    <li><a href="img/Kia_Rio_front_(pre-facelift).jpg">
                        <img src="img/Kia_Rio_front_(pre-facelift).jpg" alt="First-gen front.">
                    </a></li>
                    <li><a href="img/2005_Kia_Rio_LE_Estate_1.3_Front(facelift).jpg">
                        <img src="img/2005_Kia_Rio_LE_Estate_1.3_Front(facelift).jpg" alt="First-gen facelift." max-width: 100%;
                        height: auto;>
                    </a></li>
                </ul>

                <h3>SECOND GENERATION (2006-2010)</h3>
                <p> 
                    Kia released the second generation (JB) in Europe in early 2005 and in North America in 2006, based on a revised platform shared with the Hyundai Accent. A 110 horsepower, 1.6-liter DOHC, four-cylinder "Alpha II" engine was added, which was also shared with the Hyundai Accent. A new exterior design, an increase in exterior dimension and interior volume, more safety features, and improved fuel efficiency are additional modifications. With this model, the station wagon was replaced by a new 5-door hatchback.
                    Kia offered the 2006 sedan as the Rio and Rio LX, the LX trim included power steering, air conditioning, and CD player.
                </p>
                <ul class="images">
                    <li><a href="img/Kia_Rio_JB_2005(pre-facelift).jpg">
                        <img src="img/Kia_Rio_JB_2005(pre-facelift).jpg" alt="second-gen.">
                    </a></li>
                    <li><a href="img/2006_Kia_Rio_(JB)_hatchback_(pre-facelift).jpg">
                        <img src="img/2006_Kia_Rio_(JB)_hatchback_(pre-facelift).jpg" alt="second-gen.">
                    </a></li>
                </ul>
                <h3>Facelift</h3>
                <p>
                    Late in 2009, the models had a redesign for the 2010 model year, incorporating Kia's new Tiger front grille. Additionally, the instrument cluster gets a new red backlit appearance, and the steering wheel has the same styling as the Kia Soul and Kia Forte, with optional Bluetooth hands-free phone operation. Parking lights and side-marker lights now share the turn-signal housing, and the headlights have been significantly modified with a darker appearance. The car's side moldings shrank and changed color to body. The sole difference between the US and UK versions of the Rio is that only the hatchback model is offered in the UK. It is powered by a 1.4-liter DOHC four-cylinder 16-valve petrol engine or a 1.5-liter DOHC four-cylinder 16-valve diesel and features Kia's new "Tiger Nose" grille (for the 2010 model). Both of them have a five speed manual transmission.
                </p>
                <ul class="images">
                    <li><a href="img/Kia_Rio_(DE,_Facelift).jpg">
                        <img src="img/Kia_Rio_(DE,_Facelift).jpg" alt="second-gen facelift.">
                    </a></li>
                    <li><a href="img/Kia_Rio_front(DE,_Facelift).jpg">
                        <img src="img/Kia_Rio_front(DE,_Facelift).jpg" alt="second-gen facelift.">
                    </a></li>
                </ul>
                <ul class="images">
                    <li><a href="img/2010_Kia_Rio_sedan_rear.jpg">
                        <img src="img/2010_Kia_Rio_sedan_rear.jpg" alt="second-gen facelift.">
                    </a></li>
                </ul>

                <h3>THIRD GENERATION(2011-2016)</h3>
                <p>
                    Beginning with the third generation, the Rio was divided into two distinct models: the worldwide model (codename: UB), and a model tailored specifically for Russia and China (codename: QB).
                    The third generation Kia Rio featured 1.4-litre or 1.6-litre Hyundai GDI Gamma engines. . It also offered transmission options which include a 6-speed manual and 6-speed automatic gearbox.
                </p> 
                <p>
                    <b>The third generation Rio defeated numerous rivals, such as the Range Rover Evoque and the recently refreshed Ford Territory, to win the Semperit Irish Car of the Year title in November 2011 and the 2011 Car of the Year award from Carsguide in December.</b>
                </p>
                <ul class="images">
                    <li><a href="img/2012_Kia_Rio_(UB_MY12)_Si_sedan.jpg">
                        <img src="img/2012_Kia_Rio_(UB_MY12)_Si_sedan.jpg" alt="third-gen.">
                    </a></li>
                    <li><a href="img/2012_Kia_Rio_rear(UB_MY12)_Si_sedan.jpg">
                        <img src="img/2012_Kia_Rio_rear(UB_MY12)_Si_sedan.jpg" alt="third-gen.">
                    </a></li>
                </ul>

                <h3>FOURTH GENERATION(2017-present)</h3>
                <div class="images">
                    <a href="Img/fourth_generation_kia_rio.jpg">
                        <img src="Img/fourth_generation_kia_rio.jpg" alt="fourth-gen.">
                    </a>
                </div>
                <p>
                    At the 2016 Paris Motor Show, Kia unveiled the fourth-generation Rio (YB/SC), a global model. The new vehicle was created in Kia's design studios in Germany and California.
                    Compared to the previous model, the exterior of the Kia Rio's fourth generation has a more chiseled appearance. The car was designed with a pronounced beltline, larger flanks, a longer hood, and swept-back headlamps to convey a forceful and stable appearance. The Rio has a striking appearance thanks to Kia's signature "tiger nose" grille, and the interior space is improved by a more upright windshield.
                </p>
                <p>
                    <b>
                        Awards <br>
                        Both the 2017 iF Design Award for Discipline Product and the 2017 Red Dot Award for Passenger Car Design went to the YB Rio.
                    </b>
                </p>
            </div>
        </article>
        <ul class="images" >
            <li>
                <a href="img/2020-Kia-Rio-fourth-generation.jpg">
                    <img src="img/2020-Kia-Rio-fourth-generation.jpg" alt="Kia-Rio">
                </a>
            </li>
            <!-- <li>
                <a href="img/2017-kia-rio-interior.webp">
                    <img src="img/2017-kia-rio-interior.webp" alt="Rio-Interior" style="height:50%; width:50%;">
                </a>
            </li> -->
        </ul>
    </main>
    <section>
        <div class="subscribe">
            <div class="sub-header">
                <h2>Subscribe</h3>
                    <p>Subscribe Now To Get Daily Updates</p>
            </div>
            <div class="sub-form">
                <form action="#">
                    <!-- <label for="validationUsermail" class="form-label">Email Address</label> -->
                    <div class="input-group has-validation">
                        <input type="email" class="form-control is-invalid sub-mail" id="validationUsermail"
                            name="email" id="email"
                            aria-describedby="inputGroupPrepend3 validationServerUsernameFeedback"
                            placeholder="Email Address" required>
                    </div>
                    <button type="submit" class="btn btn-default">SUBSCRIBE</button>
                </form>
            </div>
        </div>
    </section>

    <footer class="bg-primary">
        <strong>
            <p class="copyright">copyright 2022 Kabus.com</p>
        </strong>
    </footer>
    <script src="	https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>