<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog-form</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="contact-form.css">
</head>

<body>
    <div class="card mb-3 m-auto mt-5" style="max-width: 540px;">
        <div class="row g-0">
            <div class="col-md-4 card-0 card-1">
                <!-- <img src="Img/gtr.jpg" class="img-fluid rounded-start" alt="..."> -->
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <form>
                        <div>
                            <h5 class="card-title">CONTACT US</h5>
                            <div class="form-floating">
                                <input type="text" name="Fullname" class="form-control" id="NameInput"
                                    placeholder="Fullname">
                                <label for="NameInput">Your Name</label>
                            </div> <br>
                            <div class="form-floating">
                                <input type="email" name="email" class="form-control" id="floatingInput"
                                    placeholder="name@example.com" value="name@example.com">
                                <label for="floatingInput">Your Email address</label>
                            </div> <br>
                            <div class="form-floating">
                                <textarea class="form-control" name="textarea" placeholder="Leave a comment here"
                                    id="floatingTextarea2"></textarea>
                                <label for="floatingTextarea2">Comments</label>
                            </div> <br>
                            <button type="submit" class="btn btn-outline-primary">
                                SEND
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>