<!-- create_category.html -->

{% block content %}
  <button class="btn btn-primary" style="float: right; margin-top: 10px;">
    <a href="{% url 'manage_slugs' %}" style="color: white;">Manage</a>
  </button>
  <h1>Create a New Category</h1>
  <hr>
<div class="container-fluid card">
  Avalible Categories:
    {% for category in categories %}
    <label style="background-color: aqua; padding: 3px;border-radius: 3px;padding-top:0px;">{{ category.name }}</label>
    {% endfor %}
    <br>
    {% if form.errors %}
      <p style="color: red;">{{ form.errors.as_text }}</p>
    {% endif %}
  <form method="post">
    {% csrf_token %}
        {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Create</button>
  </form>
</div>
<style>
   .container-fluid{
    
    text-align: center;
    }
    
    /* textarea.form-control{
      min-height: 400px; */
    /* }
    .btn{
      background-color: #ff000f;
      color: #fff
      ;
    } */
</style>

{% endblock %}
