{% load static %}
{% load custom_temp %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--------title---------->
    <title>StoryBlock.site</title>
    <!--------fav-icon-->
    <link rel="shortcut icon" href="favicon.icon" type="image/x-icon">
    <!-------stylesheet-------->
    <link rel="stylesheet" href="{% static 'css\index.css' %}">
    <link rel="stylesheet" href="{% static 'css\bootstrap.css' %}">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/f540c9d3c0.js" crossorigin="anonymous"></script>
</head>

<body>
    <!---Nav-links----------------------------------------->
    <div>
        <nav class="navbar navbar-expand-lg bg-primary">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <header>
                        <h1>StoryBlock</h1>
                    </header>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <!-- <li class="nav-item">
                            <a class="nav-link blog" href="#">Blog</a>
                        </li> -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle blog" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Categories
                            </a>
                            <ul class="dropdown-menu">
                                {% for category in categories %}
                                    <li><a class="dropdown-item" href="{% url 'filt_post_list' c_filter=category.slug %}"> {{category.name}}</a></li>
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                {% endfor %}
                                <li><a class="dropdown-item" href="{% url 'home' %}"> None </a></li>
                            </ul>
                        </li>
                        <!-- <li class="nav-item">
                            <a class="nav-link blog" href="#">Reviews</a>
                        </li> -->
                        <li class="nav-item" data-bs-toggle="modal" data-bs-target="#AboutModal">
                            <a class="nav-link blog" href="#">about</a>
                        </li>
                        <!-- Modal -->
                        <div class="modal fade " id="AboutModal" tabindex="-1" aria-labelledby="aboutModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="aboutModalLabel">About us</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body card-title row g-0">
                                        <div class="col-md-8 m-auto">
                                            <p>
                                                StoryBlock&trade; is a rapidly expanding self-development website with
                                                information, articles,  and posts covering a variety of topics,
                                                including automotive and technology, amongst other topics. many subjects
                                                Our goal is to reach millions of people and provide you with
                                                high-quality information that is both entertaining and informative. We
                                                are happy to have you as a member of our community. By clicking the
                                                contact us link below, you can subscribe to us on social media, contact
                                                us about advertising, or submit a tip.
                                            </p>
                                            <a href="#Subsection">
                                                Contact us
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Modal -->
                        <div class="modal fade " id="ContactModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                            aria-hidden="true">

                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Contact us</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body card-title row g-0">
                                        <div class="col-md-4 card-0 card-1">
                                            <!-- <img src="Img/gtr.jpg" class="img-fluid rounded-start" alt="..."> -->
                                        </div>
                                        <div class="col-md-8 m-auto">
                                            <form method="post">
                                                {% csrf_token %}
                                                <div class="form-floating">
                                                    <input type="text" name="name" class="form-control"
                                                        id="id_name" placeholder="Fullname">
                                                    <label for="id_name">Your Name</label>
                                                </div> <br>
                                                <div class="form-floating">
                                                    <input type="email" name="email" class="form-control"
                                                        id="floatingInput" placeholder="name@example.com">
                                                    <label for="floatingInput">
                                                        Your Email address
                                                    </label>
                                                </div> <br>
                                                <div class="form-floating">
                                                    <textarea class="form-control" name="comment"
                                                        placeholder="Leave a comment here"
                                                        id="id_comment"></textarea>
                                                    <label for="id_comment">Comments</label>
                                                </div> <br>
                                                <button type="submit" class="btn btn-outline-primary">
                                                    SEND
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <li class="nav-item" data-bs-toggle="modal" data-bs-target="#ContactModal">
                            <a class="nav-link blog" href="#">Contact</a>
                        </li>
                        <!-- Modal -->
                        <div class="modal fade " id="ContactModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                            aria-hidden="true">

                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Contact us</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body card-title row g-0">
                                        <div class="col-md-4 card-0 card-1">
                                            <!-- <img src="Img/gtr.jpg" class="img-fluid rounded-start" alt="..."> -->
                                        </div>
                                        <div class="col-md-8 m-auto">
                                            <form action="">
                                                <div class="form-floating">
                                                    <input type="text" name="Fullname" class="form-control"
                                                        id="NameInput" placeholder="Fullname">
                                                    <label for="NameInput">Your Name</label>
                                                </div> <br>
                                                <div class="form-floating">
                                                    <input type="email" name="email" class="form-control"
                                                        id="floatingInput" placeholder="name@example.com"
                                                        value="name@example.com">
                                                    <label for="floatingInput">
                                                        Your Email address
                                                    </label>
                                                </div> <br>
                                                <div class="form-floating">
                                                    <textarea class="form-control" name="textarea"
                                                        placeholder="Leave a comment here"
                                                        id="floatingTextarea2"></textarea>
                                                    <label for="floatingTextarea2">Comments</label>
                                                </div> <br>
                                                <button type="submit" class="btn btn-outline-primary">
                                                    SEND
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <li class="nav-item">
                            <a class="nav-link blog" href="{% url 'blog:vincheck' %}">
                                <span style="color:red;">VIN</span>check
                                <span class="position-absolute translate-middle p-2 bg-danger rounded-circle" style="background-color: #ff000f !important; ">
                                    <span class="visually-hidden">Coming Soon</span>
                                </span>
                            </a>
                        </li>
                    </ul>
                    <form class="d-flex search-box" role="search">
                        <input class="form-control me-2" type="search" id="search" name="search" placeholder="Search..."
                            aria-label="Search" onkeyup="search_blog()">
                        <button class="btn btn-outline-danger search" onClick="search_blog()" type="button"><i
                                class="fa-solid fa-magnifying-glass"></i></button>
                    </form>
                </div>
            </div>
        </nav>
    </div>
    <br>
    <main>
        <article class="ps-5">
            <H2>
                Welcome to <span> <i>StoryBlock.site</i> </span>
            </H2>
            <p> <b> Your No.1 Blog spot</b></p>
        </article>
        <br>
        <!----------Blog-section------->
        <section id="Blog">
            <div class="blog-heading">
                <span>My Recent Posts</span>
                <h3>Latest posts from all categories</h3>
            </div>
            <br>
            <!-----Box-9------>
            {% with posts|lenn as pop %}
                {% for i in pop|index1:0|ranger %}
                    <div class="container row m-auto">
                        {% if i == pop|index1:0|neg %}
                            {% for j in pop|index1:1|ranger %}
                                <div class="col-sm-4 blog_post" data-aos="fade-up" data-aos-delay="50" data-aos-duration="1500"
                                    data-aos-anchor-placement="top-bottom">
                                    {% with i|combine:j|breakr:posts as post %}
                                        <div class="card col">
                                            <img src="{{ post.cover_image.url }}" class="card-img-top" alt="blog" style="padding-left: 5%; padding-right: 5%; padding-top: 1%;">
                                            <div class="card-body blog-text">
                                                <span class="text-muted">
                                                    <b><small>{{post.date_posted}}</small></b>
                                                </span>
                                                <br>
                                                <a href="{% url 'blog:post_detail' pk=post.pk %}" class="blog-title">
                                                    <b>
                                                        {{post.title}}
                                                    </b>
                                                </a>
                                                <p class="card-text">
                                                    {{post.body|summ}}
                                                </p>
                                                <a href="{% url 'blog:post_detail' pk=post.pk %}" class="card-link ">
                                                    <b>Read Mores</b>
                                                </a>
                                                {% if is_admin %}
                                                    <a href="{% url 'blog:delete_post' pk=post.pk %}">
                                                        del
                                                    </a>
                                                {% endif %}
                                            </div>
                                            <div class="card-footer d-flex justify-content-evenly">
                                                <i class="fa-regular fa-thumbs-up" onclick="myFunction(this)"></i><span id="likes1" style="position: absolute; left: 24%;bottom: 4px;">0</span>
                                                <i class="fa-regular fa-comment"></i><span id="comments"></span>
                                                <i class="fa-solid fa-regular fa-share-nodes"></i><span id="shares"></span>
                                            </div>
                                        </div>
                                    {% endwith %}
                                </div>
                            {% endfor %}
                        {% else %}
                            {% for j in 3|ranger %}
                                <div class="col-sm-4 blog_post" data-aos="fade-up" data-aos-delay="50" data-aos-duration="1500"
                                data-aos-anchor-placement="top-bottom">
                                    {% with i|combine:j|breakr:posts as para %}
                                        <div class="card col">
                                            <img src="{{ para.cover_image.url }}" class="card-img-top" alt="blog" style="padding-left: 5%; padding-right: 5%; padding-top: 1%;">
                                            <div class="card-body blog-text">
                                                <span class="text-muted">
                                                    <b><small>{{para.date_posted}}</small></b>
                                                </span>
                                                <br>
                                                <a href="{% url 'blog:post_detail' pk=para.pk %}" class="blog-title">
                                                    <b>
                                                        {{para.title}}
                                                    </b>
                                                </a>
                                                <p class="card-text">
                                                    {{para.body|summ}}
                                                </p>
                                                <a href="{% url 'blog:post_detail' pk=para.pk %}" class="card-link ">
                                                    <b>Read Mores</b>
                                                </a>
                                                {% if is_admin %}
                                                    <a href="{% url 'blog:delete_post' pk=para.pk %}">
                                                        del
                                                    </a>
                                                {% endif %}
                                            </div>
                                            <div class="card-footer d-flex justify-content-evenly">
                                                <i class="fa-regular fa-thumbs-up" onclick="myFunction(this)"></i><span id="likes1" style="position: absolute; left: 24%;bottom: 4px;">0</span>
                                                <i class="fa-regular fa-comment"></i><span id="comments"></span>
                                                <i class="fa-solid fa-regular fa-share-nodes"></i><span id="shares"></span>
                                            </div>
                                        </div>
                                    {% endwith %}
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                {% endfor %}
            {% endwith %}

            <br>
        </section>
        <br>
        <button onclick="topFunction()" id="myBtn" title="Go to top" style="border-radius:75%;
        ">
            <i class="fa-sharp fa-solid fa-arrow-up"></i>
        </button>
        <br> <br>
    </main>

    <section id="Subsection">
        <div class="subscribe">
            <div class="sub-header">
                <h2>Subscribe</h3>
                <p>Subscribe Now To Get Daily Updates</p>
                <div class="form-check form-switch ps-5">
                    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" data-bs-toggle="modal" data-bs-target="#adminModal">
                    <label class="form-check-label" for="flexSwitchCheckDefault"></label>
                </div> 
            </div>
            <!-- Modal -->
            <div class="modal fade" id="adminModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Admin Login</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                    <form method="post">
                        {% csrf_token %}
                        <div class="form-floating">
                            <input type="text" name="username" autofocus="" autocapitalize="none" 
                            autocomplete="username" maxlength="150" required="" id="id_username" 
                            fdprocessedid="k0j3b9">
                            <!-- <input type="email" name="email" class="form-control"
                                id="floatingInput" placeholder="name@example.com"> -->
                            <!-- <label for="floatingInput">
                                Your Username
                            </label> -->
                        </div> <br>
                        <div class="form-floating">
                            <input type="password" name="password" autocomplete="current-password" 
                            required="" id="id_password" fdprocessedid="pagkog">
                            <!-- <input type="password" name="password" class="form-control"
                                id="password" placeholder="password"> -->
                            <!-- <label for="password">Password</label> -->
                        </div> <br>
                        <!-- <button type="submit" class="btn btn-primary">Login</button> -->
                        <button type="submit" class="btn btn-outline-primary">
                            SEND
                        </button>
                    </form>
                </div>
                    <div class="modal-footer">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    </div>
                </div>
                </div>
            </div>
            <form method="post" enctype="multipart/form-data">
                <div class="sub-form" id="subscribe">
                
                    {% csrf_token %}
                    <div class="form-group">
                    <div class="sub-mail" id="email">{{ Subform.email }}</div>
                    </div>
                    <button type="submit" class="btn-default">SUBSCRIBE</button>
                
                </div>
            </form>
            <div class="ps-3">
                <!-- Button trigger modal -->
                <p class="pt-3 sub-content" data-bs-toggle="modal" data-bs-target="#AdvertModal">
                    <a href="#">Advertise with us</a>
                </P>

                <!-- Modal -->
                <div class="modal fade" id="AdvertModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Advertisments</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <h5>Advertise with Us</h5>
                                <blockquote
                                    cite="https://www.quora.com/What-is-the-meaning-of-Henry-Ford-s-quote-Stopping-advertising-to-save-money-is-like-stopping-your-watch-to-save-the-time">
                                    "Stopping advetising to save money is like stopping your watch to save time"- Henry
                                    Ford
                                </blockquote>
                                <p>
                                    .....
                                </p>
                                <a href="contact-form.html">contact us</a>
                            </div>
                        </div>
                    </div>
                </div>

                <p class="sub-content" data-bs-toggle="modal" data-bs-target="#tipsModal">
                    <a href="#">Send us a Tip</a>
                </P>
                <!-- Modal -->
                <div class="modal fade" id="tipsModal" aria-labelledby="tipsModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Tips</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="card" aria-hidden="true">
                                    <div class="card-body">
                                        <h5 class="card-title placeholder-glow">
                                            <span class="placeholder col-6"></span>
                                        </h5>
                                        <p class="card-text placeholder-glow">
                                            <span class="placeholder col-7"></span>
                                            <span class="placeholder col-4"></span>
                                            <span class="placeholder col-4"></span>
                                            <span class="placeholder col-6"></span>
                                            <span class="placeholder col-8"></span>
                                        </p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <p class="sub-content" data-bs-toggle="modal" data-bs-target="#SupportModal">
                    <a href="#">Support Us</a>
                </P>
                <!-- Modal -->
                <div class="modal fade" id="SupportModal" tabindex="-1" aria-labelledby="SupportModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Support Us</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="card" aria-hidden="true">
                                    <div class="card-body">
                                        <h5 class="card-title placeholder-glow">
                                            <span class="placeholder col-6"></span>
                                        </h5>
                                        <p class="card-text placeholder-glow">
                                            <span class="placeholder col-7"></span>
                                            <span class="placeholder col-4"></span>
                                            <span class="placeholder col-4"></span>
                                            <span class="placeholder col-6"></span>
                                            <span class="placeholder col-8"></span>
                                        </p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer class="bg-primary">
        <p class="copyright"> <b> copyright 2022 StoryBlock&trade;</b></p>
        <a href="https://wa.me/+2348148839628?text=Hi,StoryBlock.%20I,m ___">
            <i class="fa-brands fa-whatsapp"></i>
        </a>
        <a href="">
            <i class="fa-brands fa-youtube"></i>
        </a>
        <a href="">
            <i class="fa-brands fa-telegram"></i>
        </a>
        <a href="">
            <i class="fa-brands fa-twitter"></i>
        </a>
        <a href="">
            <i class="fa-brands fa-instagram"></i>
        </a>
    </footer>

    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>

    <!-- <script src="bootstrap.min.js"></script> -->
    <!-- <script src="{% static 'js\bootstrap.bundle.min.js' %}"></script> -->
    <script src="{% static 'js\bootstrap.bundle.js' %}"></script>
    <script src="{% static 'js\kabus.js' %}"></script>
</body>

</html>