<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

{% block content %}
  <button class="btn btn-primary" style="background-color: #000; float: right; margin-top: 10px;">
    <a href="{% url 'home' %}" style="color: #fff; text-decoration: none;">
      <strong>Back</strong>
    </a>
  </button>
  <h1>Manage Categories</h1>
  <hr>
  <div class="page">
    <h1>Avalible Categories</h1>
    {% if form.errors %}
        <p style="color: red;">{{ form.errors.as_text }}</p>
      {% endif %}
    {% for category in categories %}
    <div class="category-list" >
      <div class="category" style="margin-top: 5px;">
        <label><strong>
          {{ category.name }}
        </strong></label>
        <button class="delete-button">
          <a href="{% url 'delete_category' slug=category.slug %}">
            <strong>Delete</strong>
          </a>
        </button>
      </div>
    </div>
      
    {% endfor %}
  </div>
  
    
    <style>
      body {
        background: #f8f8f8;
        font-family: Arial, sans-serif;
      }
      .page {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
      }
      .category-list{
        width: 400px;
      }
      .category{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        background-color: #fff;
        border-radius: 5px;
        margin-bottom: 10px;
      }
      .delete-button{
        background-color: #0080ff;
        border-radius: 10px;
        padding: 10px;
        text-align: center;
        font-size: 14px;
        border: none;
        cursor: pointer;
      }
      .delete-button:hover {
        background-color: red;
        color: #0d0d0d;
      }
      .delete-button a{
        color: #fff;
        text-decoration: none;
      }
      .delete-button a:hover {
        color: #0d0d0d;
      }    
    </style>
{% endblock %}
